<div class="container">
  <h1>My Personal Home</h1>
  <p>Find me in <%= link_to "Know me", about_path, class: "btn btn-secondary" %>,
  <%= link_to "Blogger", posts_path, class: "btn btn-primary" %></p>
</div>